<%= form_for(temporada) do |f| %>
  <% if temporada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temporada.errors.count, "error") %> prohibited this temporada from being saved:</h2>

      <ul>
      <% temporada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_temporada %>
    <%= f.number_field :numero_temporada %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
