<p id="notice"><%= notice %></p>

<h1>Temporadas</h1>

<table>
  <thead>
    <tr>
      <th>Numero temporada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temporadas.each do |temporada| %>
      <tr>
        <td><%= temporada.numero_temporada %></td>
        <td><%= link_to 'Show', temporada %></td>
        <td><%= link_to 'Edit', edit_temporada_path(temporada) %></td>
        <td><%= link_to 'Destroy', temporada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporada', new_temporada_path %>
