<p id="notice"><%= notice %></p>

<p>
  <strong>Temporada:</strong>
  <%= @temporada.numero_temporada %>
</p>

<p>
  <strong>Episodios:</strong>
  <% @temporada.episodios.each do |episodio| %>
    <p>
      <%= episodio.numero_episodio %>
      <%= episodio.titulo %>
      <%if(episodio.assistido == true)%>
        <%= "Assistido" %>
      <% else %>
        <%= "Pendente" %>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_temporada_path(@temporada) %> |
<%= link_to 'Back', temporadas_path %>
