<%= form_for(episodio) do |f| %>
  <% if episodio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episodio.errors.count, "error") %> prohibited this episodio from being saved:</h2>

      <ul>
      <% episodio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :temporada %>
    <%= collection_select(:episodio,:temporada_id,Temporada.all,:id,:numero_temporada) %>
  </div>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :sinopse %>
    <%= f.text_area :sinopse %>
  </div>

  <div class="field">
    <%= f.label :assistido %>
    <%= f.check_box :assistido %>
  </div>

  <div class="field">
    <%= f.label :numero_episodio %>
    <%= f.number_field :numero_episodio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
