<p id="notice"><%= notice %></p>

<h1>Episodios</h1>

<table>
  <thead>
    <tr>
      <th>Temporada</th>
      <th>Numero episodio</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodios.each do |episodio| %>
      <tr>
        <td><%= episodio.temporada.numero_temporada %></td>
        <td><%= episodio.numero_episodio %></td>
        <td><%= episodio.titulo %></td>
        <td><%= link_to 'Show', episodio %></td>
        <td><%= link_to 'Edit', edit_episodio_path(episodio) %></td>
        <td><%= link_to 'Destroy', episodio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episodio', new_episodio_path %>
