<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @episodio.titulo %>
</p>

<p>
  <strong>Assistido:</strong>
  <%= @episodio.assistido %>
</p>
<p>
  <strong>Temporada:</strong>
  <%= @episodio.temporada.numero_temporada %>
</p>

<p>
  <strong>Numero episodio:</strong>
  <%= @episodio.numero_episodio %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @episodio.sinopse %>
</p>


<%= link_to 'Edit', edit_episodio_path(@episodio) %> |
<%= link_to 'Back', episodios_path %>
