<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @series.titulo %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @series.sinopse %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_path %>
